ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{
    display: inline-block;
    border:1px solid black;
    padding: 0px 20px 10px 20px;
    background-color: red;
    color: white;
    font-weight: bold;
}

li:nth-child(even){
    display: none;
}