#paragraph-1{
    color: orange;
}

#image-container{
    background-image: url("../assets/image1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#000;
}
