#form-container{
    text-align: center;
}
fieldset{
    background-color: #ffffdc;
}

form{
    display: inline-block;
    width: 60%;
    height: auto;
    padding: 20px;
}
table{
    margin: auto auto;
    text-align: center;
    
}
legend{
    text-align: left;
}

input[type="submit"]{
    margin: 5%;
}