.container{
    box-sizing: border-box;
    margin: 10px;
}

#left-img{
    max-width: 50%;
}
.image{
    display: inline;
    margin: 20px;
}
#left-image{
    width: 40%;
}

#center-image{
    width: 20%;
}

#right-image{
    width: 5%;
}